# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid

# Dependencies
node_modules
dist
dist-ssr
release
*.local

# Env
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
